@media (min-width: 768px) {
	.article-h .col-sm-7 {
	    width: 56.8%;
	}

	.article-h .col-sm-7 + .col-sm-5 {
		width: 43.2%;
	}

	.article-h-2 .col-sm-4 {
		width: 34.5%;
	}

	.article-h-2 .col-sm-4 + .col-sm-8{
		width: 65.5%;
	}
}

@media (max-width: 1400px) {
	.como-fazemos .box-circles  .content img {
		width: 60px;
	}

	.como-fazemos .box-circles  .content {
		font-size: 16px;
		line-height: 26px;
	}
}

@media (max-width: 1400px) {
	.como-fazemos .box-circles  .content img {
		width: 50px;
	}

	.como-fazemos .box-circles  .content {
		font-size: 14px;
		line-height: 24px;
	}
}

@media (max-width: 1100px) {
	.como-fazemos .box-circles  .content img {
		width: 99px;
	}

	.como-fazemos .box-circles  .content {
		font-size: 18px;
		line-height: 30px;
	}

	.como-fazemos .box-circles .box-col {
		text-align: center !important;
		float: none;
		width: 100%;
	}
}

@media (max-width: 1060px) {
	.slider-home .circle {
		right: inherit;
		left: -225px;
	}
	
	.slider-home .box-circle img {
	    width: 370px;
	    top: 35px;
	}
}

@media (max-width: 992px) {
	#bannerHome .carousel-control,
	#bannerHome .carousel-caption .circle {
		display: none;
	}

	.slider-home-top {
		height: 200px;
	}

	.slider-home .circle {
    	width: 300px;
	    height: 300px;
	    margin-top: 0;
	    margin-bottom: 0;
	    left: -118px;
	}

	.slider-home .box-circle {
		text-align: left;
		padding-left: 65px;
	    margin-top: -170px;
	}

	.slider-home .box-circle img {
		top: 0;
		width: 300px;
	}

	.slider-home-dots li button {
		font-size: 24px;
	}

	.top-title h2 {
		font-size: 22px;
	}

	.slider-home-bottom .slider-home-content {
		padding:0 15px;
	}

	.slider-home-nav {
	    padding: 0 15px;
	}

	.slider-home-nav > div {
		margin: 0 0 15px;
	}

	.news form .col-sm-7,
	.news form .col-sm-5 {
		padding: 0 15px;
	}
}

@media (max-width: 768px) {
	#bannerHome .line {
		width: 80px;
	    margin-bottom: 10px;
	}

	#bannerHome .carousel-caption {
		margin-bottom: 50px;
	}

	#bannerHome .carousel-caption h1 {
	    font-size: 28px;
	    font-weight: 500;
	    line-height: 38px;
	}

	#bannerHome .carousel-caption h2 {
	    font-size: 18px;
	    line-height: 28px;
	}

	#bannerHome .banner-botton img {
	    margin-top: 10px;
	}

	#bannerHome .carousel-indicators {
	    bottom: 120px;
	}

	.article-h {
		height: inherit;
	}

	.top-title-page .top-title h1, .top-title-page .top-title h2 {
		font-size: 26px;
	}

	.box-form-contato {
		height: 500px;
	}

	.maps iframe {
	    height: 400px;
	}

	.maps .nav-pills>li>a {
	    font-size: 16px;
	    padding: 12px;
	    width: 70px;
	}

	#bannerHome .carousel-caption h1, .banner .banner-caption h1 {
		font-size: 32px;
	}

	.quem-somos .valores-missao li {
	    text-indent: -30px;
	    padding-left: 30px;
	}

}