/*default*/
* {
    outline: none !important;
}

body {
	font-family: 'Roboto', sans-serif;
	padding-top: 50px;
}

.container-fluid {
	padding: 0;
	overflow: hidden;
}

.rotate90 {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.rotate-90 {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

.bg-image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.bg-image > img {
	width: 100%;
	height: 100%;
	max-width: 100%;
	visibility: hidden;
}

.jssocials-share-link { 
	border-radius: 50%; 
}

.jssocials-share-link {
    padding: 0.6em 0.6em;
    font-size: 33px;
}

.jssocials-share-facebook .jssocials-share-link {
	background-color: #3b5998;
}

.jssocials-share-twitter .jssocials-share-link {
	background-color: #26a6d1;
}

.jssocials-share-linkedin .jssocials-share-link {
	background-color: #0e76a8;
}

.jssocials-share-whatsapp .jssocials-share-link {
	background-color: #0dc143;
}

.jssocials-share-email .jssocials-share-link {
	background-color: #e39b3d;
}

.jssocials-share-email .jssocials-share-link .fa:before {
	content: "\f2b6";
}

/*form*/
.form-control {
	height: 55px;
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
	border-color: #ccc;
	border-radius: 0;
	box-shadow: none;
	box-shadow: none !important;
	resize: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c2c2c2;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c2c2c2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c2c2c2;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c2c2c2;
}

div.wpcf7-response-output {
    margin: 0;
    font-size: 20px;
    border-radius: 0;
    padding: 9px 15px;
}

div.wpcf7 .ajax-loader {
	float: left;
}

/*button*/
.btn {
	font-size: 20px;
	border-radius: 0;
	border-width: 2px;
	padding: 9px 15px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn-danger {
	background-color: #af191b !important;
	border-color: #af191b !important;
	color: #fff !important;
	max-width: 100%;
}

.btn-danger:hover {
	background-color: #fff !important;
	border-color: #af191b !important;
	color: #af191b !important;
}

.btn-danger.btn-outline {
	background-color: #fff !important;
	border-color: #af191b !important;
	color: #af191b !important;
}

.btn-danger.btn-outline:hover {
	background-color: #af191b !important;
	border-color: #af191b !important;
	color: #fff !important;
}

.btn-plus svg {
	width: 25px;
	margin-bottom: -5px;
}

.btn-push svg path {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn-danger.btn-plus svg path {
	fill: #fff;
}

.btn-danger.btn-plus:hover svg path {
	fill: #af191b;
}

.btn-danger.btn-outline.btn-plus svg path {
	fill: #af191b;
}

.btn-danger.btn-outline.btn-plus:hover svg path {
	fill: #fff;
}

/*top title*/
.top-title {
	padding: 45px 0 25px;
}

.top-title h1,
.top-title h2 {
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
	color: #000000;
	margin: 0;
}

.top-title h3 {
	font-size: 25px;
	line-height: 35px;
	font-weight: 700;
	color: #af191b;
	margin: 0;
	display: inline-block;
}


.top-title:not(.no-line) h1:after,
.top-title:not(.no-line) h2:after,
.top-title:not(.no-line) h3:after {
	display: block;
	content: "";
	width: 145px;
	height: 5px;
	background-color: #af191b;
	margin: 20px 0 0;
}

.top-title.text-center:not(.no-line) h1:after,
.top-title.text-center:not(.no-line) h2:after,
.top-title.text-center:not(.no-line) h3:after {
	margin: 15px auto 0;
}

.top-title.text-left:not(.no-line) h1:after,
.top-title.text-left:not(.no-line) h2:after,
.top-title.text-center:not(.no-line) h3:after {
	margin: 20px 0 0;
}

.top-title-page {
	background-image: url(../img/bg-slider.png);
	padding: 60px 0 0;
}

.top-title-page .top-title {
	padding: 0;
}

.top-title-page .top-title h1,
.top-title-page .top-title h2 {
	display: inline-block;
	font-size: 45px;
}

.top-title-page .top-title:not(.no-line) h1:after,
.top-title-page .top-title:not(.no-line) h2:after {
	width: calc(100% - 20px);
	max-width: 150px;
}

.top-title:not(.no-line) h3:after {
	background-color: #af191b;
    margin: 20px auto 0 !important;
}

/*header*/
header .header-top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
    background-color: #ffffff;
    padding: 10px 20px;
    height: 50px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

header #menu:checked + .header-top {
	background-color: #af191b;
}

header .header-top [for="menu"] {
	cursor: pointer;
}

header .header-top .bars {
	width: 25px;
	padding-top: 3px;
}

header #menu:checked + .header-top .bars path {
	fill: #ffffff;
}

header .header-top .logo {
	width: 175px;
	display: block;
	margin: 0 auto;
}

header .header-top .logo.open {
	display: none;
}

header #menu:checked + .header-top .logo {
	display: none;
}

header #menu:checked + .header-top .logo.open {
	display: block;
}

header .header-top .search,
header .header-top .cancel {
	width: 26px;
	float: right;
}

header .header-top .cancel {
	display: none;
}

header #menu:checked + .header-top .search {
	display: none;
}

header .header-bottom {
	background-color: #af191b;
	color: #fff;
	padding: 30px 0;
	position: fixed;
	top: -50px;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 999;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

header #menu:checked + .header-top + .header-bottom {
	top: 50px;
	opacity: 1;
	height: 100%;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav li {
	list-style: none;
}

header nav a {
	font-size: 40px;
	font-weight: 500;
	color: #fff !important;
	text-decoration: none !important;
	display: inline-block;
}

header nav a:before {
	display: block;
	content: " ";
	width: 50px;
	height: 5px;
	background-color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

header nav a:hover:before {
	width: 100%;
}

.admin-bar > header .header-top {
	top: 30px;
}

.admin-bar > header #menu:checked + .header-top + .header-bottom {
	top: 80px;
}

/*carousel*/
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*bannerHome*/
#bannerHome .item {
	background-position: center;
	background-size: cover;
}

#bannerHome .carousel-caption,
.banner .banner-caption {
	margin-bottom: 100px;
	text-align: left;
	line-height: 54px;
    bottom: 50%;
    width: 650px;
    max-width: 100%;
    padding: 0 50px;
    left: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    text-shadow: none;
}

#bannerHome .carousel-caption h1,
.banner .banner-caption h1 {
	font-size: 42px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	margin: 0 0 0;
}

#bannerHome .carousel-caption h2,
.banner .banner-caption h2 {
	font-size: 28px;
	line-height: 40px;
	font-weight: 300;
	color: #fff;
}

#bannerHome .carousel-caption .circle {
    width: 536px;
    height: 536px;
    border-radius: 50%;
    background-color: rgba(175, 25, 27, 0.5);
    position: absolute;
    bottom: -50px;
    left: 220px;
}

#bannerHome .carousel-text,
.banner .banner-text {
	position: relative;
	z-index: 2;
}

#bannerHome .line,
.banner .line {
	display: block;
	width: 150px;
	height: 5px;
	background-color: #fff;
	margin-bottom: 30px;
}

#bannerHome .carousel-control {
	opacity: 1;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#bannerHome .carousel-control:hover {
	opacity: 0.5;
}

#bannerHome .carousel-control.left,
#bannerHome .carousel-control.right {
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

#bannerHome .carousel-control.left img {
	left: 15px;
}

#bannerHome .carousel-control.right img {
	right: 15px;
}

#bannerHome .carousel-control img {
    width: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
}

#bannerHome .carousel-indicators {
	bottom: 145px;
}

#bannerHome .carousel-indicators li {
    width: 30px;
    height: 30px;
	border-radius: 50%;
	border-width: 2px;
    margin: 0 3px;
}

#bannerHome .carousel-indicators .active {
	border: none;
    margin-bottom: 1px;
}

#bannerHome .banner-botton {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#bannerHome .banner-botton .scroll-down {
    color: #fff;
    position: relative;
    z-index: 9;
    text-align: center;
    text-transform: uppercase;
}

#bannerHome .banner-botton img {
	width: 45px;
	display: block;
	margin: 20px auto;
}

#bannerHome .banner-botton a {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
	top: 0;
}

#bannerHome .banner-botton a:hover {
	top: 10px;
}


#background.interna .carousel-indicators {
	bottom: 45px;
}

/*artigo home*/
.article {
	margin-bottom: 30px;
	display: block;
}

.article {
	text-decoration: none !important;
}

.article .article-text {
	background-color: #f3f3f3;
	padding: 35px 25px;
	height: 100%;
}

.article .article-image{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.article .cat {
	font-size: 16px;
	margin-bottom: 20px;
}

.article .line {
	width: 60px;
	height: 5px;
	display: block;
	margin-bottom: 10px;
}

.article .article-text h3 {
	font-size: 25px;
	font-weight: 700;
	color: #161616;
	margin: 0 0 15px;
}

.article .article-text p {
	font-size: 17px;
	color: #161616;
	line-height: 25px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    max-height: 125px;
}

.article-h {
	height: 300px;
}

.article .article-image {
	height: 300px;
}

.article-v .article-image {
	height: 330px;
}

.article-v .article-text,
.article-h-2 .article-text,
.article-h-2 .article-image {
	height: 360px;
}


/*slider home*/
.slider-home .box-circle {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	text-align: right;
}

.slider-home .circle {
    width: 560px;
    height: 560px;
    background-color: #af191b;
    border-radius: 50%;
    margin-top: -70px;
    margin-bottom: 30px;
    position: absolute;
    right: 170px;
}

.slider-home .box-circle img {
	border-radius: 50%;
	position: relative;
	z-index: 2;
	/*position: absolute;
	right: -50%;
	top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);*/
    display: inline-block;
}

.slider-home-top {
	background-image: url(../img/bg-slider.png);
	min-height: 100px;
}

.slider-home-top .top-title {
	padding-bottom: 0;
}

.slider-home-content {
	width: 535px;
	max-width: 100%;
}

.slider-home-bottom {
	min-height: 520px;
}

.slider-home-bottom h3 {
	font-size: 45px;
	font-weight: 700;
	color: #161616;
	margin: 0 0 20px;
}

.slider-home-bottom p {
	font-size: 17px;
	color: #161616;
	line-height: 25px;
}

.slider-home-bottom .slider-home-content {
	padding: 30px 0;
}

.slider-home-nav > div {
	float: left;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: 1;
	cursor: pointer;
	margin-top: -10px;
}

.slider-home-nav > div:hover {
	opacity: 0.7;
}

.slider-home-nav > div + div {
	margin-left: 25px;
}

.slider-home-nav > div img {
	width: 55px;
}

.slider-home-dots ul {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	margin-left: -25px;
}

.slider-home-dots li {
	list-style: none;
}

.slider-home-dots li button {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    background: none;
    border: none;
}

.slider-home-dots li.slick-active button {
	font-weight: 700;
}


/*customer*/
.customers-home {
	background-color: #f3f3f3;
	padding: 40px 0;
}

.customers-home .top-title {
	padding-top: 0;
}

.slider-customers {
	/*width: 1300px;*/
	max-width: 100%;
	margin: 0 auto;
}

.slider-customers .slick-list {
	padding: 30px 0;
}

.slider-customers .slick-dots {
	margin: 0;
	padding: 0;
	text-align: center;
}

.slider-customers .slick-dots li {
	list-style: none;
	display: inline-block;
}

.slider-customers .slick-dots li button {
	background: none;
	border: 2px solid #af191b;
	border-radius: 50%;
	margin: 0 5px;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
}

.slider-customers .slick-dots li.slick-active button {
	background-color: #af191b;
}

.slider-customers img {
	margin: 0 auto;
	padding: 0 5px;
}


/*news*/
.news {
	background-color: #af191b;
	/*padding-bottom: 40px;*/
	padding: 40px 15px 40px;
}

.news .top-title h1,
.news .top-title h2 {
	color: #fff;
}

.news .top-title:not(.no-line) h1:after,
.news .top-title:not(.no-line) h2:after {
	background-color: #fff;
}

.news .form-control {
	height: 50px;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
	font-size: 20px;
	font-weight: 400;
}

.news form button {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	border: 2px solid #fff !important;
}

.news form button:hover {
	border: 2px solid #fff !important;
}

.news form .col-sm-7 {
	padding-right: 0;
}

.news form .col-sm-5 {
	padding-left: 0;
}

footer .footer-top {
	background-color: #960000;
	padding: 30px 0;
}

footer .social-network {
	text-align: center;
	padding: 10px 0 30px;
}

footer .social-network ul {
	margin: 0;
	padding: 0;
	display: inline-block;
}

footer .social-network li {
	list-style: none;
	display: inline-block;
	margin: 0 10px;
}

footer .social-network a {
	opacity: 1;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

footer .social-network a:hover {
	opacity: 0.7;
}

footer .social-network .menu-image-title {
	display: none;
}

footer .social-network img {
	width: 65px;
	height: 55px;
}

footer .menu {
	text-align: center;
}

footer .menu ul {
	margin: 0;
	padding: 0;
	display: inline-block;
}

footer .menu li {
	list-style: none;
	display: inline-block;
}

footer .menu a {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-decoration: none !important;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: 1;
	margin: 5px 8px;
	display: block;
}

footer .menu a:hover {
	opacity: 0.7;
}

footer .footer-bottom {
	background-color: #7e0101;
	padding: 15px 0;
	color: #fff;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
}

footer .footer-bottom a {
	text-decoration: none !important;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: 1;
}

footer .footer-bottom a:hover {
	opacity: 0.7;
}


/*clientes*/
.clientes {
	padding-bottom: 50px;
}

.clientes .row {
    display: table;
    width: 100%;
}

.clientes [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    vertical-align: middle;
}

.cliente {
	width: auto;
	height: auto;
	max-width: 196px;
	display: block;
	margin: 0 auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.cliente + .cliente {
	margin-top: 30px;
}

.cliente img {
	visibility: hidden;
	width: 100%;
	height: auto;
} 


/*filter*/
.filter {
	background-color: #af191b;
	padding: 10px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.filter:hover {
	background-color: #fff;
}

.filter .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.filter .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: center;
}

.filter .bs-caret {
	display: none;
}

.filter .btn {
	font-size: 30px;
	font-weight: 700;
	padding: 7px 10px;
	border: 1px solid #fff !important;
}

.filter .btn:hover {
	border-color: #af191b !important;
}

.filter .glyphicon {
	position: relative;
	top: 3px;
}


/*noticias*/
.banner {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	min-height: 570px;
}

.banner img {
	width: 100%;
	visibility: hidden;
	position: relative;
}

.banner.banner-filter:after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.banner .banner-caption {
    position: absolute;
    left: 50%;
    z-index: 2;
    margin: 0;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
}

.noticia,
.noticia p {
	font-size: 16px;
	font-weight: 400;
	color: #211f1d;
	line-height: 26px;
}

.noticia .content {
	padding-bottom: 50px;
}

.noticia h1 {
	font-size: 45px;
	line-height: 55px;
	font-weight: 700;
	color: #211f1d;
	text-transform: uppercase;
	margin: 0 0 20px;
}

.noticia h2 {
	font-size: 30px;
	line-height: 40px;
	font-weight: 400;
	color: #211f1d;
	margin: 0 0 20px;
}

.noticia blockquote {
    padding: 0;
    margin: 0;
    font-size: 0;
    border-left: 0;
	font-size: 30px;
	font-weight: 700;
	color: #af191b;
	line-height: 40px;
	text-align: center;
}

.noticia .video {
	width: 822px;
	height: 410px;
	max-width: 100%;
	margin: 0 auto 60px;
	display: block;
}

.share,
.box-gray {
	display: block;
	text-align: center;
	background-color: #f3f3f3;
    padding-bottom: 45px;
}

.box-gray {
	padding: 45px;
}

.box-form-contato {
	width: 100%;
	height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 270px;
	position: relative;
}

.box-form-contato form {
	background-color: #fff;
	padding: 10px;
	margin-top: -270px;
	position: relative;
	z-index: 10;
}

.box-form-contato .local {
	font-size: 30px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 30px;
	left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.customBox {
	background: yellow;
	border: 1px solid black;
	position: absolute;
}

.maps {
    position: relative;
    margin-bottom: -5px;
}

.maps iframe {
	width: 100%;
	height: 700px;
}

.maps .nav {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.maps .nav li {
	float: none;
	margin: 0 0 10px;
}

.maps .nav-pills>li>a {
	background-color: #fff;
	border: 2px solid #000000;
	border-left: 0;
	border-radius: 0;
	font-size: 30px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
	padding: 25px 25px;
	width: 125px;
	text-align: center;
	position: relative;
}

.maps .nav-pills>li.active>a {
	background-color: #000;
	color: #fff;
}

.maps .nav-pills>li>a:after {
	display: block;
	content: "";
	background-image: url(../img/seta_1.png);
	background-repeat: no-repeat;
	width: 13px;
	height: 25px;
	position: absolute;
	right: -13px;
	top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.maps .nav-pills>li.active>a:after {
	background-image: url(../img/seta_2.png);
}


/*quero ser parceiro*/
.video-parceiro iframe {
	display: block;
	margin: -90px auto 0;
	width: 820px;
	height: 410px;
	max-width: 100%;
	position: relative;
	z-index: 2;
}

.box-form-contato.parceiro {
	background-image: url(../img/bg-slider.png);
	background-position: initial;
	background-repeat: initial;
	background-size: initial;
	height: initial;
}

.quem-somos .box-form-contato {
	margin-top: 0;
}

.box-form-contato.parceiro form {
	margin-top: -50px;
	margin-bottom: -50px;
}

.box-form-contato.parceiro textarea {
	height: 200px;
}

.box-gray.parceiro {
	padding: 60px 0;
}

.box-gray.parceiro .center {
	width: 1100px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.box-gray.parceiro img {
	margin-bottom: 30px;
}


/*quem somos*/
.quem-somos {
	overflow: initial;
}

.quem-somos .row {
	margin: 0;
}

.quem-somos .box-quem-somos {
	background-color: #fff;
	padding: 60px 40px;
	margin-top: -160px;
	position: relative;
	z-index: 2;
    font-size: 18px;
    line-height: 34px;
}

.quem-somos .box-quem-somos p {
	font-weight: 400;
	margin-bottom: 30px;
}

.quem-somos .box-quem-somos h5 {
	font-size: 35px;
	line-height: 45px;
	font-weight: 700;
	color: #af191b;
	text-align: center;
	margin: 0 0 20px;
}

.quem-somos .valores-missao {
	background-color: #af191b;
	position: relative;
}

.quem-somos .valores-missao .box {
	background-color: #fff;
	padding: 60px;
	height: 100%;
}

.quem-somos .valores-missao .top-title {
	padding: 0;
	padding-bottom: 30px;
}

.quem-somos .valores-missao ul {
	margin: 0;
	padding: 0;
}

.quem-somos .valores-missao li {
	list-style: none;
	text-align: left;
	font-size: 18px;
	font-weight: 400;
	color: #211f1d;
	line-height: 34px;
}

.quem-somos .valores-missao li:before {
	display: inline-block;
	font-family: FontAwesome;
	content: "\f111";
	color: #af191b;
	font-size: 8px;
	vertical-align: middle;
	margin-right: 30px;
}

.quem-somos .valores-missao:before {
	display: block;
	content: "";
	width: 60px;
	height: 100%;
	background-image: url(../img/bg-slider.png);
	background-position: initial;
	background-repeat: initial;
	background-size: initial;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -30px;
}

.perfil .box {
	background-color: #f3f3f3;
	font-size: 18px;
	font-weight: 400;
	color: #211f1d;
	line-height: 34px;
	padding: 40px;
}

.perfil .box img {
	display: block;
	margin: 0 auto 30px;
}

.perfil .item {
	margin-bottom: 60px;
}

/*competencias*/
.competencias .box-quem-somos {
	padding: 0;
}

.competencias .nav-pills>li {
    width: 33.33%;
    border: 1px solid #cccccc;
    border-top: 0;
    margin: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.competencias .nav-pills>li.active {
	background-color: #fff;
	border-bottom: 0;
}

.competencias .nav-pills>li {
	border-left: 0;
}

.competencias .nav-pills>li:last-child {
	border-right: 0;
}

.competencias .nav-pills>li a {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	border-radius: 0;
	height: 160px;
	line-height: 160px;
	background-color: #eeeeee;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.competencias .nav-pills>li.active a {
	background-color: #fff;
	color: #000;
}

.competencias .nav-pills>li a span {
    display: inline-block;
    line-height: 2;
}
.competencias .nav-pills>li a span:before {
	display: block;
	content: "";
	width: 50px;
	height: 5px;
	background-color: #af191b;
}

.competencias .tab-pane {
	padding: 0;
}


.competencias .item  {
	padding: 45px;
	background-color: #fff;
}

.competencias .item:nth-child(even) {
	background-color: #f3f3f3;
}

.competencias .item h2 {
	font-size: 25px;
	font-weight: 700;
	color: #af191b;
	text-transform: uppercase;
	margin: 0 0 30px;
}

.competencias .item .panel {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: transparent;
}

.competencias .item .panel-group {
	margin-bottom: 0;
}

.competencias .item .panel-heading {
	background-color: transparent;
	padding: 0;
	border: none;
	border-bottom: 1px solid #ccc;
}

.competencias .item .panel-title {
	font-size: 18px;
	font-weight: 700;
	color: #211f1d;
}

.competencias .item .panel-title a {
	display: block;
	padding: 18px 0;
	text-decoration: none !important;
}

.competencias .item .panel-default {
	margin: 0;
}

.competencias .item .panel-default>.panel-heading+.panel-collapse>.panel-body {
	border: none;
	padding: 30px 0;
}

{
	font-size: 18px;
	font-weight: 400;
	color: #211f1d;
	line-height: 34px;
}

.competencias .item ul {
	margin: 0;
	padding: 0;
    -webkit-column-count:3; /* Chrome, Safari, Opera */
    -moz-column-count:3;    /* Firefox */
    column-count:3;         /* padrão */
    -webkit-column-gap: 45px; /* Chrome, Safari, Opera */
    -moz-column-gap: 45px;    /* Firefox */
    column-gap: 45px;         /* padrão */
}

.competencias .item li {
    font-size: 18px;
    font-weight: 400;
    color: #211f1d;
    line-height: 25px;
    margin-bottom: 30px;
    list-style: none;
    text-indent: -15px;
    margin-left: 30px;
}

.competencias .item li:before {
    display: inline-block;
    font-family: FontAwesome;
    content: "\f111";
    color: #af191b;
    font-size: 8px;
    vertical-align: middle;
    margin-right: 15px;
}

.competencias .item .panel-title a:after {
	display: inline-block;
	float: right;
	font-family: FontAwesome;
	content: "\f0d7";
}

.competencias .item .panel-title a[aria-expanded="true"]:after {
	content: "\f0d8";
}


/*como fazemos*/
.como-fazemos .grafico h3 {
	font-size: 25px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.como-fazemos .grafico {
	padding-bottom: 30px;
}

.como-fazemos .grafico img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.como-fazemos .box-circles h3 {
	text-transform: inherit;
	color: #000;
}

.como-fazemos .box-circles .box {
	background-image: url(../img/bg-slider.png);
	background-position: initial;
	background-repeat: initial;
	background-size: initial;
	height: initial;
	padding: 50px 0;	
}

.como-fazemos .box-circles .circle {
	position: relative;
	display: inline-block;
}

.como-fazemos .box-circles  .img-h {
	width: 345px;
	height: auto;
	visibility: hidden;
}


.como-fazemos .box-circles  img {
	margin-bottom: 25px;
	max-width: 100%;
}

.como-fazemos .box-circles .box-col {
	width: calc(33.33% - 30px);
	float: left;
	position: relative;
	margin: 0 15px;
}

.como-fazemos .box-circles .box-col:nth-child(1)  {
	text-align: left;
}

.como-fazemos .box-circles .box-col:nth-child(2)  {
	text-align: center;
}

.como-fazemos .box-circles .box-col:nth-child(3) {
	text-align: right;
}

.como-fazemos .box-circles  .content {
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	padding: 40px;
	text-align: center;
}

.como-fazemos .box-text {
	padding: 80px 0 50px;
}

.como-fazemos .box-text h3 {
	font-size: 35px;
	line-height: 50px;
	text-align: center;
	margin: 0 0 30px;
}

.como-fazemos .box {
	background-color: #f3f3f3;
	padding: 60px 0;
}

.como-fazemos .box-text {
	font-size: 18px;
	line-height: 35px;
	color: #211f1d;
}

.como-fazemos .box-text .top-title,
.como-fazemos .box-text .top-title h3 {
	padding: 0;
	margin: 0;
	color: #000;
}

.topo-busca {
	min-height: 250px;
	background-color: #af191b;
	padding: 55px 0;
}

.topo-busca p {
	color: #fff;
	font-size: 30px;
    padding: 0 10px;
    font-weight: 400;
}

.busca .box-busca {
    background-color: #fff;
    padding: 60px 40px;
    margin-top: -100px;
    position: relative;
    z-index: 2;
    font-size: 18px;
    line-height: 34px;
}

.busca ul {
	margin: 0;
	padding: 0;
}

.busca li + li {
	margin-top: 40px;
}

.busca li {
	list-style: none;
}
.busca a {
	display: block;
	text-decoration: none !important;
	color: inherit !important;
	opacity: 1;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.busca a:before,
.busca a:after {
	display: table;
	content: "";
}

.busca a:after {
	clear: both;
}

.busca a:hover {
	opacity: 0.7;
}

.busca img {
	float: left;
	width: 150px;
}

.busca .text {
	padding: 10px;
	padding-left: 0;
} 

.busca img + .text {
	float: left;
	padding: 10px;
	width: calc(100% - 150px);
	width: -webkit-calc(100% - 150px);
	width: -moz-calc(100% - 150px);
	width: -ms-calc(100% - 150px);
	width: -o-calc(100% - 150px);
}

.busca h4 {
	font-size: 18px;
	font-weight: 700;
	color: #211f1d;
	margin: 0 0 20px;
	text-transform: uppercase;
}

.busca h4 .fa {
	font-size: 10px;
	color: #af191b;
	vertical-align: middle;
	position: relative;
	top: -1px;
}

.busca h5 {
	font-size: 18px;
	font-weight: 700;
	color: #211f1d;
	margin: 0 0 10px;

	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.busca p {
	font-size: 18px;
	font-weight: 400;
	color: #211f1d;
	line-height: 34px;

	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.form-search {
	display: none;
	background-color: #fff;
	padding: 60px 0;
}

.form-search .line {
	width: 50px;
	height: 5px;
	margin-bottom: 10px;
	background-color: #af191b;
	display: block;
}